


svg {

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
svg rect {
  fill: #313131;
  stroke: #fafafa;
   animation: outline 8s 1 forwards;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: 5px;
}
svg path {
  stroke: #fafafa;
  fill: #fafafa;
  animation: fade 2s 1 forwards;
  animation-delay: 3s;
  opacity: 0;
}

svg line {
  stroke: #fafafa;
  animation: lines 4s 1 forwards;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
}

@keyframes lines {
  from {
     stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: -275;
  }
}
@keyframes outline {
  from {
     stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade {
  from {
     opacity: 0;
  }
  to {
    opacity: 1;
  }
}