@charset "UTF-8";

/*
Theme Name:     FUJIYAMA WEBDESIGN SERVICE
Theme URI:      http: //s-fujiyama.com
Description:    theme for client/FWS
Author:         hujiyama seiji
Author URI:     http: //s-fujiyama.com

*/

@import "01.css";

/*MENU LIST  MENU LIST  MENU LIST  MENU LIST  MENU LIST
1 : General Setting
2 : h1,2,3,4,5 !
3 : List
4 : Link -> UNSET
5 : Layout
6 : Header
7 : Navigation
8 : header image
9 : Main wordpress class
10 : Comments Area
11 : index.php Main
12 : Sidebar + MIT licence
13 : Footer
14 : Form
15 : WordPress OPTION
16 : Clearfix
17 : Scroll OPEN COMMENTS FUNCTION
18 : BOOTSTRAP CUSTOM CSS do Pull
19 : Error url
20 : Table custom for bootstrap style
21 : smartphone
ENU LIST  MENU LIST  MENU LIST  MENU LIST  MENU LIST*/

/*  Rest of CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-style:normal;
font-weight: normal;
font-size: 100%;
vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

html{
overflow-y: scroll;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

input, textarea,{
margin: 0;
padding: 0;
}

ol, ul{
list-style:none;
}



a:focus {
outline:none;
}

.clearfix:after {
content: "."; 
display: block;
clear: both;
height: 0;
visibility: hidden;
}

.clearfix {
min-height: 1px;
}

* html .clearfix {
height: 1px;
/*¥*//*/
height: auto;
overflow: hidden;
/**/
}

.both{
clear:both;
}

.inline_block {  
display: inline-block;  
*display: inline;  
*zoom: 1;  
}



/****************************************

General Setting

*****************************************/

html, body {
margin: 0;
padding: 0;

}

body {
color: rgb(62, 73, 88);
font-size: 14px;
font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"MP Pゴシック","MS PGothic",sans-serif;
line-height: 160%;
word-wrap:break-word;
 min-width: 1180px;
 background-color: rgb(254, 254, 254);
}
body {
padding-top:50px;
}


/****************************************

h1,2,3,4,5 + p

*****************************************/
/*移動documents*/
.section{
margin-bottom: 40px;
}
div.section h2{font-size: 30px;
padding-top: 10px; 
padding-bottom: 10px; 
padding-left: 10px;
margin-top: 40px;
margin-bottom: 20px; 
color: #29527A;
border-left: 5px solid rgb(255, 0, 0);
}

div.section h2:first-child {
margin-top: 0px;

}
.section h3{
font-size: 25px;
padding-top: 20px; 
padding-bottom: 10px; 
padding-left: 5px;
margin-top: 40px;
margin-bottom: 20px; 
	color: #29527A;
/*  border-left: 3px solid rgb(255, 51, 0); */

}
.section h4{
font-size: 20px;
padding-top: 20px; 
padding-bottom: 10px; 
padding-left: 5px;
margin-top: 40px;
margin-bottom: 20px; 
	color: #29527A;
/*  border-left: 3px solid rgb(255, 51, 0); */

}
.section h5{
font-size: 20px;
padding-top: 20px; 
padding-bottom: 10px; 
padding-left: 5px;
margin-top: 40px;
margin-bottom: 20px; 
/*  border-left: 3px solid rgb(255, 51, 0); */

}

h1 {
margin-bottom: -72px; left:-3px;
font-size: 40px;
position: relative;
top: -180px;color: #00FF00;
font-weight: bold;
padding:10px 0 10px 0px;
/*border-left: 5px solid #CE4844;*/

}

h1 a{
font-size: 40px;
color: #fff;
}

#topline-wrap{
}

p{margin:5px 0;}

/****************************************

New Contents h2 h3 child-set

*****************************************/


/*新規documents*/
 .contentslinset h2{
font-size: 30px;
padding-top: 10px; 
padding-bottom: 10px; 
padding-left: 10px;
margin-top: 40px;
margin-bottom: 20px;
display: block;   
border-left: 5px solid rgb(255, 0, 0);
color: #29527A;
/*  border-left: 3px solid rgb(0, 204, 255); */
}

.contentslinset h2:first-child {
margin-top: 0px;
}

/* .contentslinset h2:nth-of-type(1) {
		background: #A8AD80;
}
 .contentslinset h2:nth-of-type(2) {
		background: #E6D4A7;
}*/



 .contentslinset h3{
font-size: 30px;
padding-top: 10px; 
padding-bottom: 10px; 
margin-top: 40px;
margin-bottom: 20px;   

}

/****************************************

List

*****************************************/

ul,ol {
margin: 0;
padding: 0;
list-style: none;
}

ul ul{
margin-left: 1em;
}

ul{
text-decoration: none;
}
li{list-style-type: none; }


/****************************************

Link UNSET

*****************************************/
/*bootに依存*/
a {

cursor: pointer;
}

a:hover {
cursor: pointer;
}

/****************************************

Layout

*****************************************/
#container,
.wrapper {
margin: 0 auto;
width: 1080px;
}

#container {
position: relative;
height: auto !important;    
height: 100%;
min-height: 100%;
padding-top: 100px;
max-width: none !important;
}

img{
max-width:100%;
height:auto; 
border:0px;
}

a img{
border-style:none;
}

a:hover img{
opacity:0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
}





#masthead { 
background-color: #fff;
padding :20px 0;
height: 200px;

}

#masthead h1 {
font-size: 30px;
line-height: 1;
padding-top:20px;
}

#masthead .well {
margin-top:18%; 
width: 250px; 
margin-left: 83px; 
background-color: #fff;
}


#main-pages{
margin-bottom: 59px;
border-bottom: 1px solid transparent;
}



/****************************************

Header

*****************************************/

*:first-child+html #header > div{ /* IE7 */
clear: both;
zoom:1;
}

.header-wrap{
margin-top: 0px; 
padding:0px 0; 
width: 1180px; 
margin-left: auto; 
margin-right: auto;
}

.menu-docsmenu-container{  
width: 1010px; 
float: right;
}

#header {
padding-top: 0px;
border-bottom: 0px solid #ddd;
border-top: 2px solid #ddd;
box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
background-color: #f7f7f7;
z-index: 6100;
}

#header .alignleft,
#header .alignright{
margin-bottom: 20px;
width: auto;
}

#header .alignright{
width: 200px;
}


#headetitle{ 
height: 200px; 
width: 100%; 
background-color: #00003D; 
color: #fff;
}

#header-logo{
font-size: 20px; 
margin-left:10px; 
padding-top: 10px; 
top: 10px; 
position: relative;
}

.header-logo{
float: left; 
margin-top: 10px;
}

#logo{
}

#logo a{
border: none;
}

#description {
margin-top: 0;
color: #666699;
}


pre{  
padding: 9px 14px;
margin-top: 10px;
margin-bottom: 30px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

/****************************************

Navigation

*****************************************/



#header .menu{
position: relative;
bottom: 0px;
clear: both;
}

#header div.menu > ul,
#header ul.menu{
}

#header div.menu > ul > li,
#header ul.menu > li{
float: left; 
}

#header li {
list-style-type: none;
padding: 10px 0px 5px 0px;
}

.header-wrap div.menu >li {
list-style-type: none;
padding: 7px 15px 5px 0px;
}
#header .menu li{
position: relative;
}

#header .menu li .current_page_parent {
position: relative;
border-top: 1px solid #ddd; 
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd; background:#6F5499; color:#E6E6E6;

}

#header .current_page_item {background-color: #586A74; margin-top: 0px;}
#header .menu li a{
display: block;
padding: .9em 1em;
border-bottom: none; font-size: 14px; font-weight: bold;color:#E6E6E6;
}

#header .menu li a:hover{
display: block;
padding: .9em 1em;
border-bottom: none; 
font-size: 14px; 
font-weight: bold; 
opacity: 0.8;
}

#header .menu li.current_page_item a{
color:#ddd;
}

#header div.menu > ul > li.current_page_item,
#header ul.menu > li.current_page_item{
color:#6F5499;
}

#header ul.sub-menu,
#header ul.children{
position: absolute;
left:-1px;
display: none;
margin-left: 0;
width: auto;
width: 150px;
border: 1px solid #ddd;
background: #eee;
}

#header .sub-menu li,
#header .children li{
position: relative;
border: none; 
}

#header ul.sub-menu ul,
#header ul.children ul {
top:-1px;
left:150px;
}

#header .menu li:hover > ul{
display: block; background:#fff;
}

#header .menu li:hover > ul li:hover{
display: block; background:#6F5499;
}
.head-logo{margin-top: 120px;color: #333; margin-left: 45px;font-size: 40px; font-weight: bold;}

/*.topicon{font-size: 70px;color: #666; margin-right: 30px; transform: rotate(30deg);text-shadow: 5px 5px 2px #ddd ;}*/

/****************************************

Header image

*****************************************/

#header-image{
margin-bottom: 40px;
}

.header-logo a{
margin-top: 5px;
}

.pagetitle{color: #fff; font-weight: bold; padding-top: 20px; display: block; width: 50px;}
/****************************************

Main wordpress class

*****************************************/

.sticky{
/* 先頭固定ポストのスタイル */
}

.post-meta{
margin-bottom: 1.5em;
}

.post-meta .post-date,
.post-meta .category{
padding-right: 1em;
}

.comment-num{ 
white-space: nowrap; 
}
.more-link{
}

.navigation{
overflow: hidden;
margin-bottom: 40px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background: url(images/gray.gif) repeat-y 50% 0;
}
.navigation > div{
width: 50%;
}

.navigation .alignright{
text-align: right;
}

.navigation a{
display: block;
padding: 1em;
border: none;
}

.navigation a:hover{
background: #6F5499;
color: #fff;
}

.navigation .alignright a:hover{
border-left: 1px solid #ddd;
}

.footer-post-meta{
margin-top: 40px;
text-align: right;
}

.post-author{ 
padding-left: 1em; 
}

.page-link{
margin: 3em 0;
}

.comment-page-link{
margin: 0 0 3em;
}

.page-link span,
.comment-page-link span,
.comment-page-link a{
display: inline-block;
margin-right: 3px;
padding: 5px 8px;
border: 1px solid #ddd;
background: #ddd;
}
.page-link a span,
.comment-page-link a{
background: #fff;
}

.page-link a{
border-bottom: none;
color: #333;
}

.page-link a span:hover,
.comment-page-link a:hover{
background: #ffeff7;
color: #333;
}


/****************************************

Comments Area

*****************************************/

#comment-area{
border-top: 1px solid #333; 
margin-bottom:10px; 
padding-top:10px;
}
#comment-area h3{
font-size: 150%;

}

.required{ 
color: #333;
}

.commets-list,
.trackback-list{
overflow: hidden;
margin-top: -20px;
margin-bottom: 40px;
}
.commets-list li,
.trackback-list li{
overflow: hidden;
margin-top: -1px;
padding: 20px 0 0;
width: 100%;
border-top: 1px solid #ddd;
border-bottom: 1px solid transparent;
}
.commets-list .avatar{
float: left;
margin-right: 10px;
margin-bottom: 10px;
}

.comment-meta,
.reply,
.comment-notes,
.form-allowed-tags,
span.small{
font-size: 80%;
}

.comment-body p{
clear: both;
}
.reply{
text-align: right;
}

.bypostauthor{
/* 記事投稿者のコメントのスタイル */
}

.children{
padding-left: 2em;
}

#respond{
margin-bottom: 40px;
}

/****************************************

Index.php Main

*****************************************/

.content-box{
float: right;
margin-top: -0.25em;
width: 420px;
}
.content-box .more-link{
margin: 0;
}

.thumbnail-box{
float: left;
width: 160px;
}
.thumbnail-box img{
width: 160px;
height: 160px;
}


/****************************************

Sidebar

*****************************************/


/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

#sidebar h2{font-size: 16px;
margin-bottom: 10px;
border-bottom: 1px solid #ddd; 
margin-right: 5px;
}

.widget{
margin-bottom: 0px; 
margin-bottom: 20px;
}

#sidebar .widget ul{
padding-left: 0em;
list-style-position: outside;
list-style-type: disc;
}

#sidebar.affix-top {
position: static;
margin-top :0px;
width:250px;
}

#sidebar.affix {
position: fixed;
top:70px;
width:250px;
}




#sidebar .affix-bottom {
position: absolute;
}
/* アクティブセクションを赤太字にする(scrollspy用) */
#sidebar .nav>.active:focus>a,
#sidebar .nav>.active:hover>a,
#sidebar .nav>.active>a {

}

/*scroll bottom-stopper*/
.affix-bottom { 
position:absolute; 
}

/* サブセクションのスタイル(scrollspy用) */
#sidebar .nav .nav>li>a {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
}
/* 非アクティブのサブセクションを隠す(scrollspy用) */
/*#sidebar .nav .nav {
display: none;
padding-bottom: 10px
}
/* アクティブのサブセクションを表示(scrollspy用) */
#sidebar .nav>.active>ul {
display: block;
border-left: 2px solid #fff; 
padding-left: 2px;
}
#sidebar .nav>.active>ul:first-child {
display: block;
border-left: 2px solid #000; 
padding-left: 2px;
 background-color: rgb(254, 254, 254);
}

#sidebar li.active {
border-right: 4px solid rgb(8,82,116); 
padding-right: 2px;
}


#sidebar {
display: block;   
width: 250px; 
padding: 20px 5px;
}

#sidebar li {
list-style-type: none; 
border-left: 2px solid #fff; 
padding-left: 2px;
}


#sidebar .widget li a .icon-angle-right {
margin-right: -15px;
float: right;
font-size: 1.2em; 

}
a [class^="icon-"], a [class*=" icon-"], a [class^="icon-"]:before, a [class*=" icon-"]:before {
display: inline;
}
#sidebar-recent-posts li,
#sidebar-popular-posts li{
margin:20px 0;
}

.sidebar-thumbnail-box{
float: left;
width: 75px;
}

.sidebar-recent-posts-title{
float: right;
width: 165px;
}
#sidebar-recent-posts h3,
#sidebar-recent-posts p,
#sidebar-popular-posts h3,
#sidebar-popular-posts p{
margin: 0;
}




/****************************************

Footer

*****************************************/


#footer {
margin-top: 50px; 
display: block;
background:rgb(47, 56, 68); 
text-align:center;
color: #fff; 
bottom: 0;
width: 100%; 
height:150px; 
}

#copyright{
font-size: 80%; line-height: 150px;height:150px; 

}


/****************************************

Form

*****************************************/

input[type="password"],
input[type="email"],
textarea {
margin: 0;
margin-bottom: 0px;
padding: 6px 4px;
max-width: 100%;
width: 290px;
outline: none;
border: 1px solid #ddd;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333;
vertical-align: bottom;
font-size:14px;

}
input[type="text"],
input[type="search"],
textarea {
margin: 0;
margin-bottom: 0px;
padding: 6px 4px;
max-width: 100%;
width: 290px;
outline: none;
border: 1px solid #6A7B83;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333;
vertical-align: bottom;
font-size:14px; background-color: #6A7B83;
}

input[type="text"]:hover,
input[type="search"]:hover,
textarea:hover {
margin: 0;
margin-bottom: 0px;

max-width: 100%;
width: 290px;
outline: none;
border: 1px solid #6A7B83;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333;
vertical-align: bottom;
font-size:14px;  background-color: #586A74;
}

input[type="search"]:focus,
textarea:focus {
border: 1px solid rgb(51, 122, 183);;
background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #999;
}


#comment-area input[type="text"],
#comment-area textarea{
display: block;
}

input[textarea] {
overflow: auto;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
border: 1px solid rgb(51, 122, 183);;
background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #333;
}



/*custom of serchicon & preceholder */
input.placecolor {
color: #fff;
font-weight: normal;
width: 100%;
}
/* enable absolute positioning */
.inner-addon { 
position: relative; 
}
/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.widget select{width: 240px;}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

/* Old browsers */
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {


}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {

}


#searchform{ color: #fff;
position:relative;
margin-right:10px;
margin-top: 0px; 
margin-bottom: 10px; 
padding-top: 2px;
}



#s{
width: 100%;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
}



#serch-wrap{
width: 288px; 
float: right; 
display: block; 
position: relative; 
top: -50px; 
margin-bottom: -47px; 
margin-right: 10px;
}

/****************************************

WordPress OPTION

*****************************************/

.aligncenter {
display: block;
margin-right: auto;
margin-left: auto;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

.wp-caption {
margin: 10px 0;
border: 1px solid #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #6F5499; 
color:#FFFFFF;
text-align: center; 
max-width:100%;height:auto;

}

.wp-caption-text,
.gallery-caption{
font-size: 80%; 
text-align:left; 
padding:5px;
}

.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}

.wp-caption-dd {
margin: 0;
padding: 0 4px 5px;
font-size: 14px;
line-height: 17px;
}

img.alignright {
display: inline-block;
margin: 0 0 1em 1.5em;
}

img.alignleft {
display: inline-block;
margin: 0 1.5em 1em 0;
}




/****************************************

Clearfix

*****************************************/

#container:after,
#header .menu > ul:after,
#header ul.menu:after,
.clearfix:after {
display: block;
visibility: hidden;
clear: both;
height: 0;
content: " ";
font-size: 0;
}

/* clearfix for ie7 */
#container,
#header .menu > ul,
#header ul.menu,
.clearfix {
display: inline-block;
}

#container,
#header .menu > ul,
#header ul.menu,
.clearfix {
display: block;
}


/****************************************

Scroll OPEN COMMENTS FUNCTION

*****************************************/
#acMenu  dl, dt, dd {
margin: 0;
padding: 0;
border: 0;
outline: 0;

}

#acMenu dt{
display:block;
height:50px;
line-height:50px;
text-align:center;
border:#ccc 1px solid;
cursor:pointer;
background:url(images/swich.png) 570px -69px no-repeat;
padding-right:15px; 
}

#acMenu dd{ 
margin-top:20px;
width:100%;
height: auto;
display:none;
}

#acMenu dt.active{
background:url(images/swich.png) 570px 18px no-repeat;
}




/****************************************

BOOTSTRAP CUSTOM CSS

*****************************************/

.lead {
margin-bottom: 0px;
font-size: 16px;
font-weight: 300;
line-height: 1.4;
}
.navbar-default {
background: #455A64;
border-color: #e7e7e7; 

  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.4);
}

.navbar {
 
    border: 0px solid transparent;
}

.navbar-default a {
color: rgb(92, 92, 92);
text-decoration: none;
}
.panel-default {
    border-color: #DDD;
    background-color: #FEFEFE;
}


/****************************************

Error url

*****************************************/
.not-found h1{ }
.notfound{  
font-size: 70px;
padding-top: 20px;
}

.notlink a{
font-size: 20px; 
text-decoration: none; 
font-size: 60px;
}

/****************************************

OPTIONS -> Breadcrumb + scroll hook

*****************************************/


.breadcrumbs{
color: #455A64; position: relative; top:80px; margin-left: 45px;
}

.breadcrumbs a{ 
color: #455A64;
}

.tagcloud a{
white-space: nowrap;
}

/* scroll hook*/
.nwrapper{
min-height: 600px;
height: 100%;
}


/****************************************

Table custom for bootstrap style

*****************************************/



.navbar-brand {
    float: left;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}


table{
border-collapse: collapse; 
border-spacing:0;
width: 100%;

border: 1px solid #DDD; text-align: top;
}

table tbody tr:first-child > td:first-child, table tr:first-child > td {
text-align: left;
border: 1px solid #DDD;
}

table tbody td:first-child{
}
table tbody td{
text-align:left;
border: 1px solid #DDD; vertical-align: top!important;
}
table tbody td, th {
padding: 10px 10px 10px 10px!important;
border-right: 1px solid #ddd;

}
caption, th {
text-align: left;
}

th:first-child{
border-left-width:0px!important;  
border-left:2px solid #DDD!important;
}

tbody tr:first-child{
 background-color: rgb(254, 254, 254);
white-space: nowrap;
border-bottom-width:2px; 
border-bottom:2px solid #DDD; 
font-weight: bold;

}
tbody tr:first-child,th:first-child{
 background-color: rgb(254, 254, 254);
border-left-width:1px; 
border-left:1px solid #DDD!important;

}

tbody tr:first-child:hover{
 background-color: rgb(254, 254, 254);
}
tbody tr:hover{
background-color: #f7f7f9;
}


caption{font-weight: bold;}


/****************************************

transform button

*****************************************/


#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: -100px;
	text-align: center;
    width: 60px; 
    height: 60px;
    overflow: hidden;
    padding-left: 3px;

   
    border-radius:50%;
    font-size: 30px;
 background-image: url("./images/backtop.png");
 background-repeat: no-repeat;
 background-position: center center;
}


/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	padding-bottom: 0px;
	display: block;

}
#back-top a:hover span {opacity: 0.5px;
	padding-bottom: 10px;
}



/*affix hook*/
@media (max-height: 200px) {
  .affix {
    position: static;
  }
}


#toc_container{display: none!important;}

@media (min-width: 768px){
.container {
width: 1200px!important;
}
}


/****************************************

Smartphone

*****************************************/


@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){

}

